<h3>Login</h3>
<form action="/users/login" method="POST">
  <input type="email" name="username" placeholder="Username (Email):">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Log In">
</form>