<h3>Sign Up</h3>
<form action="new" method="POST">
  <input type="email" name="username" placeholder="Username (Email):">
  <input type="password" name="password" placeholder="Password:">
  <input type="text" name="name" placeholder="Name:" >
  <input type="submit" value="Sign Up">
</form>