<h1>"Welcome, <%=@user.name%>!"

<h2>Please select an option below:</h2>
<% @user.restaurant_reviews.each do |review|%>
    <ul>
    <li><%=review.id%>"><%=review.title%>Edit A Review</li>
    </ul>
    <% end %>
<a href="/logout">Log Out</a>