<h1>Edit <%= @restaurant.title %></h1>

<form action="/review/<%=@restaurant.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <label> Reviewer's Name: </label>
  <input type="text" name="person_name" value="<%=@restaurant.person_name %>"> 

  <label> Review Description </label>
  <input type="text_area" name="description" value="<%=@restaurant.description %>"> 

  <input type="submit" value="Update">
</form>