<h1>Edit <%= @restaurant.name %></h1>

<form action="/reviews/<%=@restaurant.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <label> Review Title </label>
  <input type="text" name="person_name" value="<%=@restaurant.title %>"> 

  <label> Review Description </label>
  <input type="text_area" name="description" value="<%=@restaurant.description %>"> 

  <input type="submit" value="Update">
</form>