<h2>Add a New Review:</h2>
    
    <form method="POST" action="/reviews">
    <label> Reviewers's Name: </label>
    <input type="text" id="" name="person_name"></p>
    <label> Review's Title: </label>
    <input type="text" name="title">
    <input type="submit" value="Submit">
    </form>
  
